<div class="tile-container">
  <%= image_tag "carbonara.jpg" %>
  <div class="tile-contents">
    <h5 class="meal-name">Italian Carbonara</h5>
    <p class="user-name">Auntie Sue</p>
    <p class="user-price">4.50€</p>
    <p class="user-details">This authentic carbonara comes from my grand mothers recipe, she grew up in tuscany the land if fine foods and wine. She used only the freshest ingredients as do I.</p>
    <button class="btn meal-order-button">Order now</button>
  </div>
</div>
