<div class="tile-container">
  <h5 class="meal-name"><%= meal.meal_name %></h5>
  <div class="image-container">
    <%= cl_image_tag meal.photo.tag, class: "meal-image" %>
    <button class="btn meal-order-button">Order now</button>
  </div>
  <div class="user-info">
    <p class="user-name">Auntie <%= meal.user.first_name %></p>
    <p class="user-price"><%= meal.price %></p>
  </div>
</div>
