<div class="tile-container">
  <h5 class="meal-name">Italian Carbonara</h5>
  <div class="image-container">
    <%= image_tag "carbonara.jpg", class: "meal-image" %>
    <button class="btn meal-order-button">Order now</button>
  </div>
  <div class="user-info">
    <p class="user-name">Auntie Sue</p>
    <p class="user-price">4.50€</p>
  </div>
</div>
