<div class="section-container">
  <h3 class=>Todays Meals</h3>
  <section class="tile-view">
    <%= render 'tile' %>
    <%= render 'tile' %>
    <%= render 'tile' %>
    <%= render 'tile' %>
  </section>


  <div class="info-box">
  </div>
</div>
