<h3>Here Are All Available Meals: </h3>

<ul>
  <% @meals.each do |meal| %>
    <li><%=link_to meal.meal_name, meal_path(meal) %></li>
  <% end %>
</ul>

<%= link_to "Add a new meal", new_meal_path %>
<br>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
