<div class="form-background-image" style="background-image">
  <h2 class="user-form-header">Please enter the details for a new meal below:</h2>
  <div class="form-inputs user-forms">
    <%= render "form", meal: @meal %>
  </div>
</div>
