$url: 'https://res.cloudinary.com/dz9aqljih/image/upload/v1629382452/Aunties_stock_images/hompage_background_img_aacbum.jpg';

.banner{
  min-height: 350px;
  background: linear-gradient(0deg, rgba(230, 230, 230, 0.4), rgba(230, 230, 230, 0.4)),
  url($url);
  padding: 45px 0 0 100px;
  background-size:cover;
  background-position: center;
  background-size: cover;

  h1 {
    margin: 0;
    .brand-font-logo{
      font-size: 4.0rem;
    }
  }
  p{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 0;
    margin-left: 25px;
  }
}
