.btn {
  background-color: $brand-orange-translucent;
  color: white;
  font-weight: 600;
  padding: 10px 30px;
  &:hover{
    color: $off-white;
    background-color: $brand-orange;
  }
}
.btn-inverse{
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid $brand-orange;
  color: $brand-orange;
  padding: 0 3px;
  border-radius: 0;
  &:hover{
    color: $off-white;
    background-color: $brand-orange;
    border-radius: 2px;
  }
}

.btn-rounded {
  border-radius: 75px !important;
}

.user-nav-links {
  display: inline-block;
  text-decoration: none;
  margin: 10px 10px;
  padding: 0;
}

.navbar-links a{
  color: black;
  border-bottom-color: black;
  &:hover{
    border-bottom-color: $brand-orange;
  }
}

.btn-logout {
  &:hover {
    background-color: $brand-green;
    border-bottom-color: $brand-green;
  }
}

.navbar-links {
  color: $off-white;

  .btn-logout:hover {
    color: $brand-green;
    background-color: $off-white;
    border-bottom-color: $off-white;
  }
}

.btn-alt-links{
  color: $brand-green;
  &:hover{
    color: $brand-orange;
  }
}

.btn-back {
  text-align: center;
}

.inline-buttons{
  width: 100%;
  margin: 25px 0 50px 0;
  text-align: center;
  .btn{
    display: inline-block;
    margin: 0 20px;
  }
  .btn-green{
    background-color: $brand-green-translucent;
    &:hover{
      background-color: $brand-green;
    }
  }
}
