.tile-container {
  max-width: 250px;
  box-shadow: 3px 3px 4px gray;
  margin: 15px 0;
  border-radius: 0;

  .meal-name {
    margin: 0;
    padding: 10px 5px;
    font-size: 1.4rem;
    background-color: $brand-yellow;
    font-weight: 400;
    color: $off-white;
  }

  .meal-image {
    max-width: inherit;
  }
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .user-name,
  .user-price {
    font-size: 1.2rem;
  }

}

.meal-order-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: $brand-yellow-dark;
  color: $off-white;
  border-radius: 0;

  &:hover {
    background-color: $brand-yellow-darker;
    box-shadow: none;
    color: $off-white;
  }
}
