.navigation{
  background-color: $brand-green;
}

.navbar-auntie {
  justify-content: space-between;
}

.navbar-auntie .navbar-collapse {
  flex-grow: 0;
}

.navbar-auntie .navbar-brand img {
  width: 40px;
}

.nav-links{
  color: $off-white
}
