.navigation{
  background-color: $brand-green;
}

.navbar-auntie {
  justify-content: space-between;
}

.navbar-auntie .navbar-collapse {
  flex-grow: 0;
}

.navbar-auntie .navbar-brand img {
  width: 40px;
}

.navbar-auntie {
  box-shadow: 0px 0px 4px black;
  opacity: 0.9;
}

.nav-link {
  color: white;
}
